body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    color: #555;
    padding: 0 20px;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

a {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    p {
        padding: 0 10px;
    }
}
form {
    background: #efe7e7;
    padding: 20px;
    border-radius: 8px;
    max-width: 350px;
    margin: 10px auto;
    box-shadow: 0 2px 8px #eff3f1f3;
}
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
form input {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: 1px solid hsl(0, 89%, 48%);
    border-radius: 4px;
}
form button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background: hsl(148, 90%, 42%);
}
